.main-footer {
  background-color: var(--grey-section-color);
  h3 {
    color: #737373;
    text-transform: uppercase;
  }
  &__header {
    padding: 3rem 0;
    text-align: center;
    hr {
      border: solid 0.2px #e1e1e1;
      margin: 2rem auto;
    }
    &--social-media {
      margin: 3rem auto;
      display: flex;
      gap: 3rem;
      justify-content: center;
      font-size: 2rem;
      color: #737373;
      a{
        color: #737373;
        
      }
    }
  }
  &__container {
    display: flex;
    flex-direction: column;
    text-align: center;
    @media (min-width: 768px) {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      align-items: center;
    }
  }
  & article {
    margin: 1.5rem 0;
    a {
      text-decoration: none;
      color: #737373;
    }
    li {
      list-style: none;
    }
    ul {
      display: flex;
      flex-direction: column;
      gap: 2rem;
      padding: 0;
      margin: 0;
    }
    i {
      padding: 0 1rem;
    }
  }
}
