.primary-btn {
  padding: 1rem 3.2rem;
  background-color: var(--primary-color);
  color: white;
  font-weight: bold;
  text-decoration: none;
  border: 1px solid var(--primary-color);
  border-radius: 0.5rem;
  transition: 300ms;
  &:hover {
    background-color: white;
    color: var(--primary-color);
    cursor: pointer;
  }
}
.text-btn {
  padding: 1rem 3.2rem;
  color: var(--primary-color);
  text-decoration: none;
  font-weight: bold;
  border-radius: 0.5rem;
  transition: 300ms;
  &:hover {
    cursor: pointer;
    span {
      padding: 0 2rem;
    }
  }
}
.outlined-btn {
  padding: 1rem 3.2rem;
  color: var(--primary-color);
  text-decoration: none;
  font-weight: bold;
  border: 1px solid var(--primary-color);
  border-radius: 0.5rem;
  &:hover {
    cursor: pointer;
  }
}

.primary-btn-light {
  padding: 1rem 3.2rem;
  background-color: white;
  color: var(--primary-color);
  font-weight: bold;
  text-decoration: none;
  border: 1px solid var(--primary-color);
  border-radius: 0.5rem;
  transition: 300ms;
  &:hover {
    background-color: white;
    opacity: 90%;
    cursor: pointer;
  }
}

.disabled-btn {
  color: black;
  background-color: grey;
  &:hover {
    color: black;
    background-color: grey;
    cursor:auto;
  }
}

.btn-cart{
  border-radius: .4rem;
  border: none;
  padding: 1rem 3.2rem;
  font-weight: bold;
  color: var(--primary-color);
  text-transform: uppercase;
  background-color: transparent;
  border: 1px solid var(--primary-color);
  opacity: 80%;
  &:hover{
    cursor: pointer;
    opacity: 100%;
  }
}
