:root {
  --primary-font: "Roboto", sans-serif;
  --headings-fonts: "Rubik", sans-serif;
  --primary-color: #004aad;
  --secondary-color: #625447;
  --grey-section-color: rgb(249, 249, 249);
  --alert-color: #9d0208;
}

$textAlignValues: ("left", "right", "center", "justify");
@each $textAlign in $textAlignValues {
  .u-text-#{$textAlign} {
    text-align: #{$textAlign} !important;
  }
}
$sizes: 4rem, 6rem, 8rem;
@each $size in $sizes {
  .u-mt-#{$size} {
    margin-top: $size;
  }
  .u-mb-#{$size} {
    margin-bottom: $size;
  }
}

// .u-text-left {
// text-align : left !important;
// }
.container {
  max-width: 1500px;
  width: 95%;
  margin: 0 auto;
}
.section-title{
  text-align: center;
  margin: 15rem 0;

}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
  font-family: var(--primary-font);
  & p {
    color: #737373;
  }
}
h1,
h2,
h3,
h4 {
  font-family: var(--headings-fonts);
}
.hide {
  display: none;
}
