.product-cta {
  background-color: var(--primary-color);
  margin: 6rem auto;
  padding: 6rem 0;
  &__container {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    @media (min-width: 768px){
flex-direction: row;
justify-content: space-around;
align-items: center;
    }
  }
  &__heading {
    color: white;
    & > p {
      color: white;
    }
  }
  &__publish-btn--desktop {
    display: none;
    @media (min-width: 768px){
      display: block;
    }
  }
  &__publish-btn--mobile {
    margin: 2rem 0;
    @media (min-width: 768px){
      display: none;
    }
  }
}
.product-form {
  &__wrapper {
    display: flex;
    flex-direction: column;
    margin: 1.5rem 0;
  }
  &__envio {
    margin: 1.5rem 0;
  }
  &__data {
    margin: 5rem auto 15rem auto;
    background-color: var(--grey-section-color);
    padding: 5rem 2rem;
    display: flex;
    flex-direction: column;
    @media (min-width: 768px){
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 2rem;
      justify-content: center;
      align-items: center;
      padding: 5rem 10rem;
    }
    @media (min-width: 1150px){
      grid-template-columns: repeat(3, 1fr);
    }
  }
  &__file {
    display: none;
  }
  &__file-label {
    width: 25rem;
    text-align: center;
  }

}
