//hero
.hero {
    &__cta {
      span{
        padding: 0 1rem;
        transition: 300ms;
      }
      animation: cta 1.2s ease-in-out;
      @keyframes cta {
        0% {
          transform: translateX(-200%);
        }
        100% {
          transform: translateY(0%);
        }
      }
    }
    &__background {
      background-image: url(.././img/hero/family.jpg);
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      height: 60rem;
      max-width: 200rem;
      margin: 0 auto;
      @media (min-width: 768px) {
        background-position: right;
      }
    }
    &__wave {
      background-image: url(.././img/hero/wave-mobile.svg);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      height: 70rem;
      @media (min-width: 1020px) {
        background-image: url(.././img/hero/wave.svg);
        height: 70rem;
      }
    }
    &__description {
      padding: 40rem 0 0rem 0;
      width: 90%;
      margin: 0 auto;
      h1 {
        animation: hero-heading 1.2s ease-in-out;
        @media (min-width: 1020px) {
          font-size: 3.5rem;
        }
        @keyframes hero-heading {
          0% {
            transform: scale(0);
            opacity: 0;
          }
          100% {
            transform: scale(1);
            opacity: 1;
          }
        }
      }
      p {
        animation: hero-description 1.2s ease-in-out;
        @keyframes hero-description {
          0% {
            transform: translateY(-350%);
            opacity: 0;
          }
          100% {
            transform: translateY(0%);
            opacity: 1;
          }
        }
      }
  
      @media (min-width: 1020px) {
        padding: 20rem 11rem 25rem 0rem;
        position: relative;
        right: -7%;
        width: 45%;
        margin: 0;
      }
    }
  }
  

//benefits
.flexbox-3{
    margin: 8rem 0;
    h2{
        text-align: center;
        margin-bottom: 9rem;
        color: #737373;
        font-size: 3rem;
    }
    &__container{
        display: flex;
        flex-direction: column;
        gap: 3rem;
        justify-content: space-around;
        align-items: center;
        @media (min-width: 768px){
            flex-direction: row;
        }
    }
    &__item{
        text-align: center;
        p{
            font-size: 2rem;
        }
        h2{
            color: black;
        }
        header{
            font-size: 7rem;
            color: var(--secondary-color);
        }
    }
}

.icons-animation{
    animation: icon 1.2s ease-in-out;
    @keyframes icon {
        0%{
            transform: translateY(-200%);
            opacity: 0;
        }100%{
            transform: translateX(0%);
            opacity: 1;
            
        }
    }
}