<footer id="footer" class="main-footer">
    <header class="main-footer__header container">
      <div class="main-footer__header--social-media">
        <i class="fa-brands fa-facebook-messenger"></i>
        <i class="fa-brands fa-instagram"></i>
        <i class="fa-brands fa-twitter"></i>
        <i class="fa-brands fa-youtube"></i>
      </div>
      <div class="main-footer__header--description">
        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Animi
          placeat quisquam dignissimos, porro velit perspiciatis.
        </p>
      </div>
      <hr>
    </header>
    <div class="main-footer__container container">

      <article>
        <h3>Juguetería Cósmica</h3>
        <p>
          Lorem ipsum dolor sit amet
          consectetur, adipisicing elit. Nam nihil error reiciendis nesciunt
          animi, deserunt laborum asperiores cum.
        </p>
      </article>
      <article>
        <h3>Páginas</h3>
        <nav>
          <ul>
            <li>
              <a href="#">Inicio</a>
            </li>
            <li>
              <a href="#">Alta</a>
            </li>
            <li>
              <a href="#">Nosotros</a>
            </li>
            <li>
              <a href="#">Contacto</a>
            </li>
          </ul>
        </nav>
      </article>
      <article>
        <h3>Contactános</h3>
        <p> <i class="fa-solid fa-map-pin"></i> Bogotá, Colombia </p>
        <p> <i class="fa-solid fa-at"></i> <a href="mailto:contacto@jugueteriacosmica.com">contacto@jugueteriacosmica.com</a> </p>
        <p> <i class="fa-solid fa-phone"></i>  +57 320 123 4567 </p>
      </article>
    </div>
  </footer>