<header id="header" class="main-header container">
    <div class="main-header__logo-container">
      <img
        tabindex="0"
        src="img/header/logo.webp"
        alt="Logo"
        loading="lazy"
      />
    </div>

    <div class="main-header__search-form-container overlay hide">
      <div class="test">
        <input
          class="main-header__search-input"
          type="text"
          placeholder="Mario Bros, Monopatín, etc"
          id="search-bar"
        />
        <i tabindex="0" class="fa-solid fa-circle-chevron-right search"></i>
        <label for="search-bar"></label>
      </div>
    </div>

    <div class="main-header__cart-button-container">
      <i tabindex="0" class="fa-solid fa-cart-shopping"></i>
      <span id="badge" class="badge hide"></span>
    </div>

    <article class="main-header__cart-view hide">
      <table>
        <thead>
          <tr>
            <th>Imagen</th>
            <th>Nombre</th>
            <th>Precio</th>
            <th>Cantidad</th>
          </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
      <button class="btn-cart">Vaciar Carrito</button>
    </article>

    <div id="hamburger-menu" class="main-header__hamburger-button-container">
      <i tabindex="0" class="fa-solid fa-bars"></i>
    </div>

    <div class="main-header__search-form-icon">
      <i tabindex="0" class="fa-solid fa-magnifying-glass"></i>
    </div>

    <div class="main-header__main-nav-container">
      <nav class="main-nav">
        <ul class="main-nav__list u-text-center hide">
          <li class="main-nav__item">
            <a class="main-nav__link" href="index.html">Inicio</a>
          </li>
          <li class="main-nav__item">
            <a class="main-nav__link" href="alta.html">Alta</a>
          </li>
          <li class="main-nav__item">
            <a class="main-nav__link" href="contacto.html">Contacto</a>
          </li>
          <li class="main-nav__item">
            <a class="main-nav__link" href="nosotros.html">Nosotros</a>
          </li>
        </ul>
      </nav>
    </div>
  </header>